{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dr. Omar Prieto - Cardiología Integral{% endblock %}</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">


    <!-- Alpine.js -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    {% block extra_css %}{% endblock %}
</head>

<body class="min-h-screen flex flex-col">
    {% include 'components/header.html' %}

   <main class="flex-grow page-content">
        <div class="container-content">
            {% block content %}{% endblock %}
        </div>
    </main>


    <!-- Scripts comunes -->
    <script src="{% static 'main/js/components/header.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>

</html>
