{# templates/indicaciones/base.html #}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>{% load static %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Indicaciones{% endblock %}</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    
    
    {% block extra_css %}{% endblock %}

    <!-- Enlace al CSS centralizado -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"></head>

<body class="bg-gray-100">
    {% block content %}{% endblock %}
    {% block extra_js %}{% endblock %}
</body>
</html>